<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Loguearse</h4>
            </div>
            <form role="form" action="login" method="post" enctype="multipart/form-data" id="user-form" novalidate="novalidate">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in form_login %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit"id="id_ingresar" class="btn btn-default btn-success pull-right">
                        <span class="glyphicon glyphicon-save"></span> Entrar
                    </button>
                    <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                            style="margin-left: 5px">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>