<div class="modal fade" id="register_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Registrarse</h4>
            </div>
            <form role="form" action="registro" method="post" enctype="multipart/form-data" id="register-form" novalidate="novalidate">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in form_trabajador %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    {% for field in form_usuario %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit"id="id_grabar" class="btn btn-default btn-success pull-right">
                        <span class="glyphicon glyphicon-save"></span> Guardar
                    </button>
                    <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                            style="margin-left: 5px">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var validator = $("#register-form").validate({
            rules: {
                nombre: "required",
                apellidos: "required",
                aniosExperiencia: {
                    min: 0,
                    required: true,
                    number: true
                },
                tiposDeServicio: {
                    required: true,
                    min: 1
                },
                telefono: {
                    required: true,
                    minlength: 5
                },
                correo: {
                    required: true,
                    email: true
                },
                imagen: "required",
                username: "required",
                password: {
                    required: true,
                    minlength: 8
                }
            },
            messages: {
                nombre: "Por favor ingrese su nombre ",
                apellidos: "Por favor ingrese sus apellidos",
                aniosExperiencia: "Por favor indique cuantos a&ntilde;os de experiencia tiene",
                tiposDeServicio: "Por favor seleccione el tipo de servicio que ofrecer&aacute;",
                telefono: "Por favor ingrese un tel&eacute;fono v&aacute;alido",
                correo: "Por favor ingrese un correo v&aacute;lido",
                imagen: "Por favor suba una foto",
                username: "Por favor ingrese su usuario",
                password: "Por favor ingrese su contrase&ntilde;a",
                confirmar: {
                    equalTo: "La confirmaci&oacute;n no es v&aacute;lida"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('#imagen').click(function () {
            alert($('input[type=file]').val());
            return true;

        });
        $('#register_modal').on('hidden.bs.modal', function () {
            validator.resetForm();
        })
    });
</script>